.card {
  cursor: pointer;
  background-color: #12151a;
  border: none;
}

.label {
  font-size: 0.875rem;
  color: #6c757d;
}

.value {
  font-weight: bold;
}

.disciplineContainer {
  display: flex;
  align-items: center;
}

.disciplineName {
  margin-left: 10px;
}

.actionsContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
