body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
  }

h1, h2, h3, h4, h5 {
  font-family: 'Segoe UI', sans-serif;
}

.avatar{
  width: 120px;
  height: 120px;
  border: 1px solid black;
  border-radius: 50%;
  object-fit: cover;
}

.rbc-header{
  font-weight: normal !important;
}
.rbc-toolbar-label{
  font-weight: bold;
}
.rbc-event-label{
  display: none !important;
}

.rbc-background-event{
  background-color: #87ce96 !important;
  ;
}
.rbc-allday-cell{
  display: none;
}
.rbc-btn-group{
  font-size: 14px;
}
.nav-link{
  color: #8c8c8c !important
}

.nav-link.active{
  color: #000000 !important
}